<mat-toolbar style="background: linear-gradient(to left, #437b51, #00250c);height: 200px;">
    <mat-toolbar-row style="margin-top: 20px;">
        <img src="assets\pics\logo.png" alt="aa" height="70px" routerLink="/Home">
        <button mat-button style="margin-left: 150px;color: white;font-size: large;" routerLink="/Home">Home</button>
        <button mat-button style="margin-left: 40px;color: white;font-size: large;" routerLink="/Home/Shop">Shop</button>
        <button mat-button style="margin-left: 40px;color: white;font-size: large;" routerLink="/Home/Products">Products</button>
        <button mat-button style="margin-left: 40px;color: white;font-size: large;" routerLink="/Home/Blog">Blog</button>
        <button mat-button style="margin-left: 80px;color: white;font-size: large;">Contact Us</button>
        <button mat-icon-button style="margin-left: 100px;">
          <mat-icon style="color: white;">search</mat-icon>
      </button>
      <button mat-icon-button style="margin-left: 30px;">
        <mat-icon style="color: white;">shopping_cart</mat-icon>
      </button>
      <button mat-raised-button style="background-color: #e37d10;color: white;margin-left: 30px;"><b>Sign Up</b></button>
  </mat-toolbar-row>

  <mat-toolbar-row style="font-size: 40px;color: white;margin-top: 40px;justify-content: center;">
    <h1 >Home/Shop</h1>
  </mat-toolbar-row>
</mat-toolbar>
<div>
<br>
<br>
<div style="text-align: center;">
  <h3 style="color: rgb(79, 242, 79);">CATEGORIES</h3>
  <h2>Shop By Categories</h2>
</div>
<br>
<br>
<div style="display: flex;">
  <div style="margin-left: 150px; background-color: rgb(238, 221, 223); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
    " onmouseout="this.style.backgroundColor='rgb(238, 221, 223)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToPage(1)">
  <img src="assets/pics/zyro-image.png" height="50px" style="display: block; margin: 0 auto;">
  <p style="color: black;"><b>Fruits</b></p>
  </div>
  <div style="margin-left: 90px; background-color: rgb(184, 240, 168); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
    transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
    " onmouseout="this.style.backgroundColor='rgb(184, 240, 168)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToPage(0)">
  <img src="assets/pics/veg.png" height="50px" style="display: block; margin: 0 auto;">
  <p style="color: black;"><b>Vegetables</b></p>
  </div>
  <div style="margin-left: 90px; background-color: rgb(225, 249, 218); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
    transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
    " onmouseout="this.style.backgroundColor='rgb(225, 249, 218)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToPage(2)">
  <img src="assets/pics/drink.png" height="50px" style="display: block; margin: 0 auto;">
  <p style="color: black;"><b>Drinks</b></p>
  </div>
  <div style="margin-left: 90px; background-color: rgb(249, 236, 250); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
    transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
    " onmouseout="this.style.backgroundColor='rgb(249, 236, 250)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToPage(3)">
  <img src="assets/pics/nut.png" height="50px" style="display: block; margin: 0 auto;">
  <p style="color: black;"><b>Fresh Nuts</b></p>
  </div>
  <div style="margin-left: 90px; background-color: rgb(220, 229, 245); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
    transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
    " onmouseout="this.style.backgroundColor='rgb(220, 229, 245)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToPage(4)">
  <img src="assets/pics/spice.png" height="70px" style="display: block; margin: 0 auto;">
  <p style="color: black;margin-top: 1px;"><b>Spices</b></p>
  </div>
  <div style="margin-left: 90px; background-color: rgb(242, 248, 175); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
    transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
    " onmouseout="this.style.backgroundColor='rgb(242, 248, 175)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToPage(5)">
  <img src="assets/pics/pasta.png" height="70px" style="display: block; margin: 0 auto;">
  <p style="color: black;margin-top: 1px;"><b>Pastas</b></p>
  </div>
</div>
<br>
<br>
  <mat-paginator [length]="30"
  [pageSize]="5"
  [pageSizeOptions]="[5]"
  aria-label="Select page"
  (page)="changePage($event)">
</mat-paginator>
<div *ngIf="currentPage === 0">
  <div style="background-color: #31693f;height: 50px;margin-top: -17px;">
    <h2 style="text-align: center;color: white;padding: 10px;" id="Vegetables">Vegetables</h2>
</div>
<br>
<br>
<div style="display: flex;flex-wrap: wrap;">
  <div style="border-radius: 5px; padding: 10px;margin-left: 90px; width: 200px; background-color: white; height: 285px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); ">
    <div style="height: 120px;background-color: #aeebbd;">
      <img src="assets\pics\bra.png" style="margin-left: 40px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>VEGETABLE</b></p>
    <p><b>From Fresh Organic<br> Bracoli 250g</b></p>
    <p style="color: orange;"><b>$3.00</b></p>
    <div>
      <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
      <button onclick="incrementQuantity()">+</button>
      <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
        <mat-icon>shopping_cart</mat-icon>
      </button>      
  </div>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 50px; ">
    <div style="height: 120px;background-color: #f5cff5;">
      <img src="assets\pics\Carrot.png" style="margin-left: 40px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>VEGETABLE</b></p>
    <p><b>From Fresh Organic<br> Carrots 1kg</b></p>
    <p style="color: orange;"><b>$3.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <div style="height: 120px;background-color: #f3ebbe;">
      <img src="assets\pics\Potato.png" style="margin-left: 50px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>VEGETABLE</b></p>
    <p><b>From Fresh Organic<br> Potatoes 1kg</b></p>
    <p style="color: orange;"><b>$4.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #f5cff5;">
      <img src="assets\pics\Onion.png" style="margin-left: 50px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>VEGETABLE</b></p>
    <p><b>From Fresh Organic<br> Onions 1kg</b></p>
    <p style="color: orange;"><b>$2.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 320px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #aeebbd;">
      <img src="assets/pics/Cabbage.png" style="margin-left: 40px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>VEGETABLE</b></p>
    <p><b>From Fresh Organic<br> Cabbage 1kg</b></p>
    <p style="color: orange;"><b>$6.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
</div>
</div>

<div *ngIf="currentPage === 1">
  <div style="background-color: #31693f;height: 50px;margin-top: -17px;">
    <h2 style="text-align: center;color: white;padding: 10px;" >Fruits</h2>
  </div>
<br>
<br>
<div style="display: flex;flex-wrap: wrap;">
  <div style="border-radius: 5px; padding: 10px;margin-left: 90px; width: 200px; background-color: white; height: 285px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); ">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\mangoes.png" style="margin-left: 30px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT</b></p>
    <p><b>From Fresh Organic<br> Mangoes 1kg</b></p>
    <p style="color: orange;"><b>$10.00</b></p>
    <div>
      <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
      <button onclick="incrementQuantity()">+</button>
  </div>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 50px; ">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\oranges.png" style="margin-left: 40px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT</b></p>
    <p><b>From Fresh Organic<br> Orange 12 Pieces</b></p>
    <p style="color: orange;"><b>$6.4.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <div style="height: 120px;background-color: #f5cff5;">
      <img src="assets\pics\apple.png" style="margin-left: 40px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT</b></p>
    <p><b>From Fresh Organic<br> Apple 1kg</b></p>
    <p style="color: orange;"><b>$12.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #f5cff5;">
      <img src="assets\pics\grapes.png" style="margin-left: 40px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT</b></p>
    <p><b>From Fresh Organic<br> Grapes 1kg</b></p>
    <p style="color: orange;"><b>$8.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 320px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\Banana.png" style="margin-left: 30px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT</b></p>
    <p><b>From Fresh Organic<br> Banana 12 Pieces</b></p>
    <p style="color: orange;"><b>$2.5.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
  </div>
</div>
</div>

<div *ngIf="currentPage === 2">
  <div style="background-color: #31693f;height: 50px;margin-top: -17px;">
    <h2 style="text-align: center;color: white;padding: 10px;" id="Drinks">Fresh Drinks</h2>
  </div>
<br>
<br>
<div style="display: flex;flex-wrap: wrap;">
  <div style="border-radius: 5px; padding: 10px;margin-left: 90px; width: 200px; background-color: white; height: 285px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); ">
    <div style="height: 120px;background-color: #f5cff5;">
      <img src="assets\pics\strawberry.png" style="margin-left: 30px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT JUICE</b></p>
    <p><b>From Fresh Organic<br> Fresh Berry Lemonade</b></p>
    <p style="color: orange;"><b>$12.00</b></p>
    <div>
      <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
      <button onclick="incrementQuantity()">+</button>
      <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
        <mat-icon>shopping_cart</mat-icon>
      </button> 
  </div>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 50px; ">
    <div style="height: 120px;background-color: #f5cff5;">
      <img src="assets\pics\Cranberry-Basil.png" style="margin-left: 50px;margin-top: 1px;" height="120px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT JUICE</b></p>
    <p><b>From Fresh Organic<br> Cranberry-Basil Spritzer</b></p>
    <p style="color: orange;"><b>$15.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <div style="height: 120px;background-color: #f5cff5;">
      <img src="assets\pics\watermalon.png" style="margin-left: 50px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT JUICE</b></p>
    <p><b>From Fresh Organic<br> Icy Watermelon Granita</b></p>
    <p style="color: orange;"><b>$13.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 305px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\Fizzy Cranberry-Lemonade Punch.png" style="margin-left: 45px;margin-top: 1px;" height="150px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT JUICE</b></p>
    <p><b>From Fresh Organic<br> Fizzy Cranberry-Lemonade Punch</b></p>
    <p style="color: orange;"><b>$18.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 320px; width: 200px; background-color: white; height: 305px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #aeebbd;">
      <img src="assets\pics\cucumber.png" style="margin-left: 10px;margin-top: 20px;" height="100px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRUIT JUICE</b></p>
    <p><b>From Fresh Organic<br> Cucumber, Lemon, and Mint Fizz</b></p>
    <p style="color: orange;"><b>$20.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
</div>
</div>
<div *ngIf="currentPage ===3">
  <div style="background-color: #31693f;height: 50px;margin-top: -17px;">
    <h2 style="text-align: center;color: white;padding: 10px;" id="Nuts">Fresh Nuts</h2>
  </div>
<br>
<br>
<div style="display: flex;flex-wrap: wrap;">
  <div style="border-radius: 5px; padding: 10px;margin-left: 90px; width: 200px; background-color: white; height: 285px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); ">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\almond.png" style="margin-left: 30px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRESH NUT</b></p>
    <p><b>From Fresh Organic<br> Almonds 1kg</b></p>
    <p style="color: orange;"><b>$30.00</b></p>
    <div>
      <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
      <button onclick="incrementQuantity()">+</button>
      <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
        <mat-icon>shopping_cart</mat-icon>
      </button> 
  </div>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 50px; ">
    <div style="height: 120px;background-color: #d7d2a7;">
      <img src="assets\pics\brasil.png" style="margin-left: 50px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRESH NUT</b></p>
    <p><b>From Fresh Organic<br> Brazil Nuts 1kg</b></p>
    <p style="color: orange;"><b>$25.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\cashew.png" style="margin-left: 30px;margin-top: 1px;" height="150px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRESH NUT</b></p>
    <p><b>From Fresh Organic<br> Cashew Nuts 1kg</b></p>
    <p style="color: orange;"><b>$35.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 295px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\hazelnuts.png" style="margin-left: 35px;margin-top: 20px;" height="100px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRESH NUT</b></p>
    <p><b>From Fresh Organic<br> Hazelnuts 1kg</b></p>
    <p style="color: orange;"><b>$37.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 320px; width: 200px; background-color: white; height: 295px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #d7d2a7;">
      <img src="assets\pics\Macadamias.png" style="margin-left: 40px;margin-top: 20px;" height="100px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>FRESH NUT</b></p>
    <p><b>From Fresh Organic<br> Macadamias 1kg</b></p>
    <p style="color: orange;"><b>$39.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
</div>
</div>

<div *ngIf="currentPage === 4">
  <div style="background-color: #31693f;height: 50px;margin-top: -17px;">
    <h2 style="text-align: center;color: white;padding: 10px;" id="Spices">Spices</h2>
  </div>
<br>
<br>
<div style="display: flex;flex-wrap: wrap;">
  <div style="border-radius: 5px; padding: 10px;margin-left: 90px; width: 200px; background-color: white; height: 285px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); ">
    <div style="height: 120px;background-color: #fee296;">
      <img src="assets\pics\cumins.png" style="margin-left: 40px;margin-top: 20px;" height="100px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>SPICE</b></p>
    <p><b>From Fresh Organic<br> Cumins 250g</b></p>
    <p style="color: orange;"><b>$20.00</b></p>
    <div>
      <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
      <button onclick="incrementQuantity()">+</button>
      <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
        <mat-icon>shopping_cart</mat-icon>
      </button> 
  </div>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 50px; ">
    <div style="height: 120px;background-color: #d7d2a7;">
      <img src="assets\pics\cloves.png" style="margin-left: 40px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>SPICE</b></p>
    <p><b>From Fresh Organic<br> clove 250g</b></p>
    <p style="color: orange;"><b>$25.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\coninder.png" style="margin-left: 30px;margin-top: 1px;" height="120px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>SPICE</b></p>
    <p><b>From Fresh Organic<br> Coriander</b></p>
    <p style="color: orange;"><b>$29.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 295px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #f7d868;">
      <img src="assets\pics\Cinnamomums.png" style="margin-left: 20px;margin-top: 20px;" height="100px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>SPICE</b></p>
    <p><b>From Fresh Organic<br> Cinnamon 250g</b></p>
    <p style="color: orange;"><b>$31.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 320px; width: 200px; background-color: white; height: 295px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #f8d487;">
      <img src="assets\pics\tumeric.png" style="margin-left: 40px;margin-top: 20px;" height="100px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>SPICE</b></p>
    <p><b>From Fresh Organic<br> Turmeric 250g</b></p>
    <p style="color: orange;"><b>$16.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
</div>
</div>

<div *ngIf="currentPage ===5">
  <div style="background-color: #31693f;height: 50px;margin-top: -17px;">
    <h2 style="text-align: center;color: white;padding: 10px;" id="Pastas">pastas</h2>
  </div>
<br>
<br>
<div style="display: flex;flex-wrap: wrap;">
  <div style="border-radius: 5px; padding: 10px;margin-left: 90px; width: 200px; background-color: white; height: 285px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); ">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\Orecchiette.png" style="margin-left: 40px;margin-top: 20px;" height="100px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>PASTA</b></p>
    <p><b>From Fresh Organic<br> Orecchiette</b></p>
    <p style="color: orange;"><b>$30.00</b></p>
    <div>
      <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
      <button onclick="incrementQuantity()">+</button>
      <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
        <mat-icon>shopping_cart</mat-icon>
      </button> 
  </div>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 50px; ">
    <div style="height: 120px;background-color: #ef9d82;">
      <img src="assets\pics\Fusilli.png" style="margin-left: 40px;margin-top: 20px;" height="70px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>PASTA</b></p>
    <p><b>From Fresh Organic<br> Fusilli</b></p>
    <p style="color: orange;"><b>$30.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 285px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <div style="height: 120px;background-color: #ecf4a0;">
      <img src="assets\pics\Bucatini.png" style="margin-left: 30px;margin-top: 10px;" height="90px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>PASTA</b></p>
    <p><b>From Fresh Organic<br> Bucatini </b></p>
    <p style="color: orange;"><b>$30.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 170px; width: 200px; background-color: white; height: 295px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #ef9d82;">
      <img src="assets\pics\Penne.png" style="margin-left: 40px;margin-top: 20px;" height="80px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>PASTA</b></p>
    <p><b>From Fresh Organic<br> Penne</b></p>
    <p style="color: orange;"><b>$30.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 320px; width: 200px; background-color: white; height: 295px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);margin-top: 30px;">
    <div style="height: 120px;background-color: #d7d2a7;">
      <img src="assets\pics\farfalle.png" style="margin-left: 40px;margin-top: 20px;" height="80px">
    </div>
    <p style="color: rgb(79, 242, 79);font-size: small;"><b>PASTA</b></p>
    <p><b>From Fresh Organic<br> Farfalle</b></p>
    <p style="color: orange;"><b>$30.00</b></p>
    <button onclick="decrementQuantity()">-</button>
      <span id="quantity"> 1 </span>
    <button onclick="incrementQuantity()">+</button>
    <button style="margin-left: 90px; color: white; background-color: orange; border: 2px solid orange; border-radius: 5px;">
      <mat-icon>shopping_cart</mat-icon>
    </button> 
  </div>
</div>
</div>
<br>
<br>
</div>
<footer style="background: linear-gradient(to left, #548f63, #013913);">
  <img src="assets\pics\logo.png" alt="aa" height="70px" style="margin-top: 20px;">
</footer>
