<div style="display: flex;">
  <h1 style="margin-left: 30%;color: #437b51;">Welcome</h1>
  <button mat-icon-button style="margin-left: 80px;" [mat-dialog-close]="true">
    <mat-icon>cancel</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="example-container">
    <div class="dialog-content">
      <mat-form-field class="centered-field">
        <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="centered-field">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="Your Name" [formControl]="name" required>
    </mat-form-field>
    <mat-form-field class="centered-field">
      <mat-label>Set your password</mat-label>
      <input matInput type="password" placeholder="Password" [formControl]="password" required>
    </mat-form-field>
    <mat-form-field class="centered-field">
      <mat-label>Repeat your password</mat-label>
      <input matInput type="password" placeholder="Repeat Password" [formControl]="repeatPassword" required>
      <mat-error *ngIf="repeatPassword.invalid">{{getRepeatPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="center" style="margin-bottom: 10px;">
  <button mat-raised-button mat-dialog-close style="background-color: #e37d10;color: white;margin-left: 30px;margin-left: -15px;"><b>Cancel</b></button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial style="background-color: #e37d10;color: white;margin-left: 30px;"><b>Sign Up</b></button>
</mat-dialog-actions>
