<mat-toolbar style="background: linear-gradient(to left, #437b51, #00250c);height: 400px;">
    <mat-toolbar-row style="margin-top: 20px;">
        <img src="assets\pics\logo.png" alt="aa" height="70px" routerLink="/Home">
        <button mat-button style="margin-left: 150px;color: white;font-size: large;" routerLink="/Home">Home</button>
        <button mat-button style="margin-left: 40px;color: white;font-size: large;" routerLink="/Home/Shop">Shop</button>
        <button mat-button style="margin-left: 40px;color: white;font-size: large;" routerLink="/Home/Products">Products</button>
        <button mat-button style="margin-left: 40px;color: white;font-size: large;" routerLink="/Home/Blog">Blog</button>
        <button mat-button style="margin-left: 80px;color: white;font-size: large;">Contact Us</button>
        <button mat-icon-button style="margin-left: 100px;">
          <mat-icon style="color: white;">search</mat-icon>
      </button>
      <button mat-icon-button style="margin-left: 30px;">
        <mat-icon style="color: white;">shopping_cart</mat-icon>
      </button>
      <button mat-raised-button style="background-color: #e37d10;color: white;margin-left: 30px;"><b>Sign Up</b></button>
  </mat-toolbar-row>
  
  <mat-toolbar-row>
    <div style="display: flex;flex-direction: column;margin-top: 200px;margin-left: 100px; color: white;">
      <h4 style="margin-top: 30px;font-size: larger;;">Online Grocery</h4>
      <h1 style="font-size: xx-large;">Get Fresh Groceries</h1>
      <p>From Our Shelves to Your Home, <br>with Love</p>
      <button mat-raised-button style="background-color: #e37d10;color: white;width: 100px;" routerLink="/Home/Shop"><b>Shop Now</b></button>
    </div>
      <img src= 'assets\pics\[removal.ai]_d112ea7e-9a1c-4c20-85f5-375e4ad5374c-delivery-concept-handsome-african-american-delivery-man-carrying-package-box-grocery-food-drink-store-delivery-concept-112610107.png' alt="yes" height="320px" width="400px"
      style="margin-top: 248px;margin-left: 250px;background-color: #afd2ba;border-radius: 50% / 50% 50% 0 0;">
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <br>
  <br>
  <div style="display: flex;">
    <div style="border-radius: 5px; padding: 10px;margin-left: 70px; color: rgb(79, 242, 79); width: 200px; background-color: white; height: 70px; display: flex; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s, color 0.3s;"
    onmouseover="this.style.boxShadow='0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.1)'; this.style.transform='scale(1.05)'; this.style.backgroundColor='rgb(92, 184, 92)'; this.style.color='white';"
    onmouseout="this.style.boxShadow='0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1)'; this.style.transform='scale(1)'; this.style.backgroundColor='white'; this.style.color='rgb(79, 242, 79)';" routerLink="/Home/Products">
    <div style="height: 30px; background-color: #e37d10; padding: 10px; margin-top: 10px; margin-left: 10px;">
      <img src="assets\pics\form.jpg" height="30px" >
    </div>
    <h4 style="margin-left: 10px;">Products from <br>Organic Form</h4>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 90px; color: rgb(79, 242, 79); width: 200px; background-color: white; height: 70px; display: flex; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s, color 0.3s;"
  onmouseover="this.style.boxShadow='0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.1)'; this.style.transform='scale(1.05)'; this.style.backgroundColor='rgb(92, 184, 92)'; this.style.color='white';"
    onmouseout="this.style.boxShadow='0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1)'; this.style.transform='scale(1)'; this.style.backgroundColor='white'; this.style.color='rgb(79, 242, 79)';">
    <div style="height: 30px; background-color: #e37d10; padding: 10px; margin-top: 10px; margin-left: 10px;">
      <img src="assets\pics\images.png" height="30px">
    </div>
    <h4 style="margin-left: 10px;">Free Home <br>Delivery</h4>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 90px; color: rgb(79, 242, 79); width: 200px; background-color: white; height: 70px; display: flex; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s, color 0.3s;"
    onmouseover="this.style.boxShadow='0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.1)'; this.style.transform='scale(1.05)'; this.style.backgroundColor='rgb(92, 184, 92)'; this.style.color='white';"
    onmouseout="this.style.boxShadow='0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1)'; this.style.transform='scale(1)'; this.style.backgroundColor='white'; this.style.color='rgb(79, 242, 79)';">
    <div style="height: 30px; background-color: #e37d10; padding: 10px; margin-top: 10px; margin-left: 10px;">
      <img src="assets\pics\promotion.jpg" height="30px">
    </div>
    <h4 style="margin-left: 10px;">Promotion of <br>The Week</h4>
  </div>
  <div style="border-radius: 5px; padding: 10px;margin-left: 90px; color: rgb(79, 242, 79); width: 200px; background-color: white; height: 70px; display: flex; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s, color 0.3s;"
    onmouseover="this.style.boxShadow='0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.1)'; this.style.transform='scale(1.05)'; this.style.backgroundColor='rgb(92, 184, 92)'; this.style.color='white';"
    onmouseout="this.style.boxShadow='0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1)'; this.style.transform='scale(1)'; this.style.backgroundColor='white'; this.style.color='rgb(79, 242, 79)';">
    <div style="height: 30px; background-color: #e37d10; padding: 10px; margin-top: 10px; margin-left: 10px;">
      <img src="assets\pics\off.jpg" height="30px">
    </div>
    <h4 style="margin-left: 10px;">20% Discount <br>On the items</h4>
  </div>
  </div>
  <br>
  <br>
  <br>
  <div style="text-align: center;">
    <p style="color: rgb(79, 242, 79)"><b>GATEGORIES</b></p>
    <h2>Browse Our Hottest</h2>
  </div>
  <br>
  <div style="display: flex;">
    <div style="margin-left: 150px; background-color: rgb(238, 221, 223); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
      " onmouseout="this.style.backgroundColor='rgb(238, 221, 223)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToFruits()">
    <img src="assets/pics/zyro-image.png" height="50px" style="display: block; margin: 0 auto;">
    <p style="color: black;"><b>Fruits</b></p>
  </div>
  <div style="margin-left: 90px; background-color: rgb(184, 240, 168); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
      transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
      " onmouseout="this.style.backgroundColor='rgb(184, 240, 168)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToVegetables()">
    <img src="assets/pics/veg.png" height="50px" style="display: block; margin: 0 auto;">
    <p style="color: black;"><b>Vegetables</b></p>
  </div>
  <div style="margin-left: 90px; background-color: rgb(225, 249, 218); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
      transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
      " onmouseout="this.style.backgroundColor='rgb(225, 249, 218)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToDrinks()">
    <img src="assets/pics/drink.png" height="50px" style="display: block; margin: 0 auto;">
    <p style="color: black;"><b>Drinks</b></p>
  </div>
  <div style="margin-left: 90px; background-color: rgb(249, 236, 250); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
      transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
      " onmouseout="this.style.backgroundColor='rgb(249, 236, 250)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToNuts()">
    <img src="assets/pics/nut.png" height="50px" style="display: block; margin: 0 auto;">
    <p style="color: black;"><b>Fresh Nuts</b></p>
    </div>
    <div style="margin-left: 90px; background-color: rgb(220, 229, 245); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
      transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
      " onmouseout="this.style.backgroundColor='rgb(220, 229, 245)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToSpices()">
    <img src="assets/pics/spice.png" height="70px" style="display: block; margin: 0 auto;">
    <p style="color: black;margin-top: 1px;"><b>Spices</b></p>
    </div>
    <div style="margin-left: 90px; background-color: rgb(242, 248, 175); width: 100px; text-align: center; border-radius: 10px; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-left: 40px;
      transition: background-color 0.3s, transform 0.3s; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(92, 184, 92)'; this.querySelector('p').style.color='white'; this.style.transform='scale(1.05)';
      " onmouseout="this.style.backgroundColor='rgb(242, 248, 175)'; this.querySelector('p').style.color='black'; this.style.transform='scale(1)';" (click)="navigateToPastas()">
    <img src="assets/pics/pasta.png" height="70px" style="display: block; margin: 0 auto;">
    <p style="color: black;margin-top: 1px;"><b>Pastas</b></p>
  </div>
</div>
<br>
<br>
<br>
<div style="display: flex;">
  
  <div style="margin-left: 100px;background-color: rgb(249, 236, 211);height: 170px;width: 275px;border-radius: 10px; padding: 20px;">
    <h2 style="color: rgb(79, 242, 79);">ENJOY 30% OFF</h2>
    <h3>All Fruits Arrives directly from the Garden</h3>
    <button mat-raised-button style="background-color: #e37d10;color: white;" (click)="navigateToFruits()"><b>Shop Now</b></button>
  </div>
  <div style="margin-left: 120px;background: linear-gradient(to right, #73ad82, #1f5220);height: 210px;width: 500px;border-radius: 10px;display: flex;">
    <img src="assets\pics\vegis-fotor-bg-remover-20240103192732.png" height="210px" style="margin-left: -29px;">
    <div>
        <h2 style="color: white;">ENJOY 30% OFF</h2>
        <h3 style="color: white;">All Vegitables From the Forms and stores that arrives recently</h3>
        <button mat-raised-button style="background-color: #e37d10;color: white;" (click)="navigateToVegetables()"><b>Shop Now</b></button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div>
    <p style="color: rgb(79, 242, 79);text-align: center;"><b>BEST SELLING</b></p>
    <h2 style="text-align: center;">Browse Our Hottest</h2>
</div>
<footer style="background: linear-gradient(to left, #548f63, #013913);">
    <img src="assets\pics\logo.png" alt="aa" height="70px" style="margin-top: 20px;">
</footer>